html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bulb{
   width: 300px;
   height: 300px;
   border: 4px solid black;
   border-radius: 50%;
    background-color: rgb(230, 230, 228);
    margin: 0 auto;
    margin-top: 1rem;
}

button{
    padding: 1rem;
    margin-left: 650px;
    margin-top: 50px;
    background-color: black;
    color: rgb(250, 250, 5);
    font-weight: bolder;
    border-radius: 50%;
    box-shadow: 2px 4px 7px black ;
}